/* Configuración General */
body { 
    font-family: 'DM Sans', sans-serif; 
    background-color: #fffafa; 
    scroll-behavior: smooth; 
    margin: 0;
    padding: 0;
}

/* Navbar Totalmente Opaco y Fijo */
nav { 
    background-color: #ffffff !important; /* Blanco sólido */
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 50;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05); /* Sombra ligera para separar del contenido */
}

/* Estilos de Producto */
.product-card img { 
    transition: transform 0.5s ease; 
}

.product-card:hover img { 
    transform: scale(1.05); 
}

/* Animaciones */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.animate-fade { 
    animation: fadeIn 0.4s ease forwards; 
}

/* --- CATEGORÍAS CON SCROLL HORIZONTAL --- */
.no-scrollbar::-webkit-scrollbar { 
    display: none; 
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.no-scrollbar button {
    scroll-snap-align: start;
    flex-shrink: 0;
}

/* Degradado visual para móvil indicando scroll */
@media (max-width: 768px) {
    .no-scrollbar {
        mask-image: linear-gradient(to right, black 90%, transparent 100%);
        -webkit-mask-image: linear-gradient(to right, black 90%, transparent 100%);
    }
}